[Unit]
Description=NodeJS Client Tracking App
After=network.target
 
[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/nodeapps/clienttracking-backend/
ExecStart=npm run start
Restart=on-failure
 
[Install]
WantedBy=multi-user.target

